<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <substitutionProperty name="log.proj" value="schedule-example"/>
    <substitutionProperty name="log.base" value="logs/${log.proj}"/>
    <jmxConfigurator />
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%X{req.id}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="COMMON-ALL-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}/common-all.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/common-all_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%X{req.id}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="COMMON-ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}/common-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/common-error_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%X{req.id}] [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>


    <!-- project log -->
    <logger name="org.ecs">
        <level value="INFO"/>
    </logger>


    <root>
        <level value="DEBUG"/>
        <appender-ref ref="COMMON-ERROR-APPENDER" />
        <appender-ref ref="COMMON-ALL-APPENDER" />
        <appender-ref ref="stdout" />
    </root>

</configuration>